<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave Background</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
      </style>

</head>
<body>
  <div class="parent">

    <div class="helo">
      <header class="head">
          <div>
            <ul class="nav">
              <li>LOGO</li>
              <li><a href="">About Us</a></li>
              <li><a href="/static/Home/menu.html">Menu</a></li>
              <li><a href="">Order Online</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
      </header>
      <img class="dis" src="/images/home/Background+Border.png" alt="">
      <p class="par">Vegan Ice Cream Delights</p>
      <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aut cupiditate, hic repudiandae suscipit est.</p>
      <button class="btn">Clickk</button>
  </div>
  <div class="swiper-box">
      <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"> <img class="ice" src="/images/home/art-image.png.png" alt=""></div>
            <div class="swiper-slide"> <img class="ice" src="/images/home/banner2-image.png.png" alt=""></div>
            <div class="swiper-slide"> <img class="ice" src="/images/home/banner2-image.png.png" alt="">3</div>
            <div class="swiper-slide"> <img class="ice" src="/images/home/banner2-image.png.png" alt="">4</div>
            <div class="swiper-slide"> <img class="ice" src="/images/home/banner2-image.png.png" alt="">5</div>
          </div>
        </div>
  </div>    
  </div class="trends">
    <h1 class="trend">Our Popular <span class="spann">Ice</span>-Cream</h1>
    <div class="tre-cont">
      <div><img src="/images/home/Figure(2).png" width="80%"  alt=""><p>Almond Joy Sundae</p><button>Add to Cart</button></div>
      <div><img src="/images/home/Figure(1).png" width="80%" alt=""><p>Berry Sorbet</p><button>Add to Cart</button></div>
      <div><img src="/images/home/Figure.png" width="80%" alt=""><p>Milk Choclate Chip</p><button>Add to Cart</button></div>
    </div>

    <p>.</p>
    <footer class="footer">
      <div class="container">
          <div class="footer-row">
              <div class="footer-col">
                  <h4>Navigation</h4>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Shop</a></li>
                      <li><a href="#">Products</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Address:</h4>
                  <p>121 King Street Melbourne, 3000, Australia</p>
              </div>
              <div class="footer-col">
                  <h4>Contact:</h4>
                  <p>+123456780123</p>
                  <p>Got questions? Call us 24/7</p>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                  <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bottom">
          <p>Copyright © 2024 . All rights reserved.</p>
      </div>
  </footer>
     <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      effect: 'slide', // 'slide', 'fade', 'cube', 'coverflow', or 'flip'
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</body>
</html>
